:root {
    --font-size: 20px;
    --color: pink;
    --gutter: calc(var(--font-size)*2);
}


body {
    font-size: var(--font-size);
    padding-bottom: calc(var(--gutter) * 3)
}


@media (min-width: 600px) {
    :root{
    --font-size: 30px;
    }
}