/*LINKED FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');


/* VARIABLES */
:root{
  --font-pinyon: "Pinyon Script", cursive;
  --font-dm-mono: "DM Mono", monospace;
  --font-karla: "Karla", sans-serif;
}

/* FONTS */

/* FONT DETAILS */

/* MARGINS */
:root{
--block-size: 8px;
--big-circle-width: 100vw;

}

/* COLORS */
:root{
  --orange: #FF827F;
  --yellow: #FFF848;
  --green: #6CFF95;
  --blue: #00C2FF;
  --pink: #E14FF0;
  --light-blue: #DCFFF9;
  
  }
  

/* BACKGROUND */

.background-image {
  background-image: url(../assets/gradient.jpg);
  background-position: top center;
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1000;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
  margin-top: 30px;
  height: 100vh; 
}


/* TEXT STYLING */

h1{
  font-family: var(--font-karla);
  font-size: 3em;
  color: white;
  text-transform: uppercase;
}

.description{
  font-family: var(--font-dm-mono);
  font-size: 0.3em;
  color: white;
  text-transform: uppercase;
  padding: 5px;
}

/* BLOCKS BLOCKS BLOCKS */

ul {
  width: var(--big-circle-width);
  height: var(--big-circle-width);
  border-radius: 50%;
  background-color: rgba(74, 75, 104, 0.094); 
  overflow-x: auto; 
  backdrop-filter: blur(10px); 
  box-shadow: 0 0 5px rgba(106, 161, 255, 0.5); /* Add shadow blur effect */
}

ul::-webkit-scrollbar {
  display: none;
}

#channel-blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px; 
  padding: 55px; 
  position: relative;
}

#channel-blocks li {
  border-width: 5px;
  position: absolute; 
  top: 0;
  left: 0;
}


#channel-blocks li:nth-child(10n + 1) {
  top: 10%;
  left: 15%;
}

#channel-blocks li:nth-child(10n + 2) {
  top: 20%;
  left: 15%;
}

#channel-blocks li:nth-child(10n + 3) {
  top: 10%;
  left: 5%;
}

#channel-blocks li:nth-child(10n + 4) {
  top: 15%;
  left: 40%;
}

#channel-blocks li:nth-child(10n + 5) {
  top: 25%;
  left: 85%;
}

#channel-blocks li:nth-child(10n + 6) {
  top: 25%;
  left: 20%;
}

#channel-blocks li:nth-child(10n + 7) {
  top: 25%;
  left: 25%;
}

#channel-blocks li:nth-child(10n + 8) {
  top: 25%;
  left: 30%;
}

#channel-blocks li:nth-child(10n + 9) {
  top: 25%;
  left: 55%;
}

#channel-blocks li:nth-child(10n + 10) {
  top: 25%;
  left: 70%;
}



/*IMAGES IMAGES IMAGES*/

.image-shape {
  width: var(--block-size);
  height: calc(1.5 * var(--block-size));
  background-color: var(--yellow);
  position: relative; 
  transition: transform 0.3s ease; 
}

.image-shape:hover{
  transform: scale(1.5);
}

.image-content {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  z-index: 1;
  background-color: rgba(255, 255, 255); 
  border-radius: 10px; 
  padding: 20px; 
  border-radius: 10px; 
  max-width: 900px;
  max-height: 90%; 
}

.image-content img {
  max-width: 100%; 
  height: auto; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.image-content figcaption {
  margin-top: 10px; 
  font-size: 14px; 
  color: #666; 
}

/*VIDEOS VIDEOS VIDEOS*/

#channel-blocks li.Video {
  width: 0;
  height: 0;
  border-left: var(--block-size) solid transparent;
  border-right: var(--block-size) solid transparent;
  border-bottom: calc(2 * var(--block-size)) solid var(--orange);
  position: relative; 
}

.video-content {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  z-index: 1;
}

/*TEXT TEXT TEXT*/

#channel-blocks li.Text {
  width: calc(1.5 * var(--block-size));
  height: calc(1.5 * var(--block-size));
  background-color: var(--green);
  position: relative; 
}

.text-content {
  display: none; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  z-index: 1;
}

/*LINK LINK LINK*/

#channel-blocks li.Link { 
  width: calc(1.5 * var(--block-size));
  height: calc(1.5 * var(--block-size));
  border-radius: 10px 0 0 0;
  background-color: var(--blue);
  position: relative; 
}

.link-content {
  display: none; 
  position: fixed; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  color: black;
  z-index: 999; 
}

/*PDF PDF PDF*/

#channel-blocks li.Pdf {
  width: calc(1.5 * var(--block-size));
  height: calc(1.5 * var(--block-size));
  border-radius: 50%;
  background-color: var(--pink);
  position: relative;
}

.pdf-content {
  display: none; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center;
  color: black;
  z-index: 999; 
}


/*AUDIO AUDIO AUDIO*/

#channel-blocks li.Audio {
  width: calc(1.5 * var(--block-size));
  height: calc(1.5 * var(--block-size));
  border-radius: 50%;
  background-color: var(--light-blue);
  position: relative; 
}

.audio-content {
  display: none; 
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  color: black;
  z-index: 999; 
}

.clicked{
  display: block; 
}




@media screen and (min-width: 1440px) {
/* MARGINS */
:root{
  --block-size: 9px;
  --big-circle-width: 40vw;
}

h1{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-dm-mono);
  font-size: 9em;
  color: white;
}


#channel-blocks {
  grid-template-columns: repeat(3, 1fr);
  padding: 90px; 
  grid-gap: 40px; 
}
}